<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About News</title>
    </head>
 <body ng-cloak>
   <div ng-controller="MainController">
     <div class="navigate">
      <span><a href="" ng-click="navigate('score')">Score</a></span>
      <span><a href="" ng-click="navigate('site')">Site</a></span>
     </div>
     <div ng-show="state.score">
        <div ng-include="'docScoresView.html'"></div>
     </div>
     <div ng-show="state.site">
        <div ng-include="'siteView.html'"></div>
     </div>
   </div>
 </body>
</html>
